<body>
  <div class="container">
    <div class="notification is-center">
      <h1>Card Form</h1>
      <form id="add" action="/add" method="post">
  First Name
    <br>
  <input type="text" name="firstname">
    <br>
  Last Name
    <br>
    <input type="text" name="lastname">
    <br>
    <br>
  <textarea rows="4" cols="50" name="message" form="add"></textarea>
    <br>
    <input class="button is-outlined" type="submit">
      </form>
    </div>
  </div>
</body>