{{#each cards}}
<div class="box">
  <article class="media">
   <div class="media-content">
     <div class="content">
      <p>
        <strong>Name:{{this.firstname}} {{this.lastname}}</strong>
        <br>
        Message:{{this.message}}
      </p>
    </div>
  </div>
  </article>
</div>
{{/each}}